<?xml version="1.0" encoding="UTF-8"?>
<Ardour>
  <MIDI-port tag="control" device="ardour" mode="duplex" type="alsa/sequencer"/>
  <MIDI-port tag="mcu" device="ardour" mode="duplex" type="alsa/sequencer"/>
  <MIDI-port tag="seq" device="ardour" mode="duplex" type="alsa/sequencer"/>
  <Config>
    <Option name="trace-midi-input" value="no"/>
    <Option name="trace-midi-output" value="no"/>
    <Option name="use-tranzport" value="yes"/>
    <Option name="minimum-disk-io-bytes" value="262144"/>
    <Option name="track-buffer-seconds" value="5"/>
    <Option name="disk-choice-space-threshold" value="57600000"/>
    <Option name="xfade-model" value="1"/>
    <Option name="auto-xfade" value="yes"/>
    <Option name="destructive-xfade-msecs" value="20"/>
    <Option name="mute-affects-pre-fader" value="yes"/>
    <Option name="mute-affects-post-fader" value="yes"/>
    <Option name="mute-affects-control-outs" value="yes"/>
    <Option name="mute-affects-main-outs" value="yes"/>
    <Option name="plugins-stop-with-transport" value="no"/>
    <Option name="stop-recording-on-xrun" value="no"/>
    <Option name="create-xrun-marker" value="yes"/>
    <Option name="stop-at-session-end" value="no"/>
    <Option name="seamless-loop" value="yes"/>
    <Option name="quieten-at-speed" value="yes"/>
    <Option name="show-track-meters" value="no"/>
    <Option name="jack-time-master" value="yes"/>
    <Option name="smpte-format" value="6"/>
    <Option name="timecode-source-is-synced" value="yes"/>
    <Option name="no-new-session-dialog" value="yes"/>
    <Option name="use-vst" value="yes"/>
    <Option name="periodic-safety-backups" value="yes"/>
    <Option name="periodic-safety-backup-interval" value="120"/>
    <Option name="default-narrow_ms" value="no"/>
    <Option name="font-scale" value="102400"/>
  </Config>
  <extra>
    <RulerVisibility smpte="yes" bbt="yes" frames="no" minsec="no" tempo="yes" meter="yes" marker="yes" rangemarker="no" transportmarker="yes" cdmarker="no"/>
    <AudioSetup>
      <periods val="2"/>
      <priority val="60"/>
      <ports val="128"/>
      <inchannels val="0"/>
      <outchannels val="0"/>
      <inlatency val="0"/>
      <outlatency val="0"/>
      <realtime val="1"/>
      <nomemorylock val="0"/>
      <unlockmemory val="0"/>
      <softmode val="0"/>
      <force16bit val="0"/>
      <hwmonitor val="0"/>
      <hwmeter val="0"/>
      <verbose val="0"/>
      <samplerate val="44100Hz"/>
      <periodsize val="1024"/>
      <serverpath val="/usr/bin/jackd"/>
      <driver val="ALSA"/>
      <interface val="RME Digi9636 (Rev 1.5)"/>
      <timeout val="Ignore"/>
      <dither val="None"/>
      <audiomode val="Playback/Recording on 1 Device"/>
      <inputdevice val="RME Digi9636 (Rev 1.5)"/>
      <outputdevice val="RME Digi9636 (Rev 1.5)"/>
    </AudioSetup>
    <Keyboard edit-button="3" edit-modifier="4" delete-button="3" delete-modifier="1" snap-modifier="32"/>
    <TransportControllables roll="0" stop="1" goto_start="2" goto_end="3" auto_loop="4" play_selection="5" rec="6" shuttle="7"/>
  </extra>
  <ControlProtocols>
    <Protocol name="Mackie" active="no"/>
    <Protocol name="Generic MIDI" active="no"/>
  </ControlProtocols>
</Ardour>
